body {
  text-align: center;
}

h1 {
  font-family: monospace, sans-serif;
  text-align: center;
}

.rgb-color {
  font-family: Ubuntu, sans-serif;
  margin-top: 50px;
  text-align: center;
}

.score {
  display: inline-block;
  font-family: Ubuntu, sans-serif;
  margin-right: 5px;
  margin-top: 10px;
  text-align: center;
}

.ball-container {
  margin-top: 50px;
  text-align: center;
}

.ball {
  border: 3px solid black;
  border-radius: 100%;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.answer-text {
  font-family: monospace, sans-serif;
  margin-top: 50px;
}

.reset-button {
  margin-top: 50px;
}
